<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi, <%= @user.email %>!</p>
    <p>Thanks for joining and have a great day! Now sign in and go to discover our products!</p>
  </body>
</html>
